@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* color: #155e75;
  color: white !important; */
}
